.container {
  border: 2px solid #a2a2a6;
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.black {
  background-color: #000;
  color: #ffffff;
}

.gold {
  background-color: #ffd700;
  color: #000;
}

.teal {
  background-color: #00ced1;
  color: #000;
}

.olive {
  background-color: #6b8e23;
  color: #000;
}

.font-pannel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.abril-fatface {
    font-family: 'Abril Fatface', cursive;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}